@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
